body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    height: auto;
    background-color: #d6d6d6;
}