body{
    font-family: 'Inter', sans-serif;
}

.container{
    width: 100%;
    margin: auto;
}

.board{
    margin: auto;
    margin-top: 100px;
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: #d6d6d6;
    border-radius: 20px;
}

.main_title{
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
}

.register_display{
    display: flex;
    flex-direction: column;
}

.register_cate{
    margin: 50px;
}